<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="row">
  <div class="col-md-2">
    <ul class="list-group" id="ul">
      <% @users.each do |user| %>
        <li class="list-group-item" onclick="selected_user(<%= user.id %>);"><%= user.username %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-10">
    <h1>Products</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Price</th>
      </tr>
      </thead>

      <tbody id="table">

      </tbody>
    </table>
  </div>
</div>

<script type="application/javascript">
  function selected_user(user_id) {
      $.ajax({
          url: "/users/"+user_id.toString()+"/products.json", success: function (result) {
              $('#table').empty();
              for (let i=0; i<result.length; i++){
                  let tr = document.createElement('tr');
                  let td1 = document.createElement('td');
                  let td2 = document.createElement('td');
                  let td3 = document.createElement('td');
                  td1.innerHTML = result[i]['name'];
                  td2.innerHTML = result[i]['weight'];
                  td3.innerHTML = result[i]['price'];
                  tr.appendChild(td1);
                  tr.appendChild(td2);
                  tr.appendChild(td3);
                  $('#table').append(tr);
              }
          }
      });
  }
</script>